In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
employee_data = [(1,'manish',50000,'IT'),
(2,'vikash',60000,'sales'),
(3,'raushan',70000,'marketing'),
(4,'mukesh',80000,'IT'),
(5,'pritam',90000,'sales'),
(6,'nikita',45000,'marketing'),
(7,'ragini',55000,'marketing'),
(8,'rakesh',100000,'IT'),
(9,'aditya',65000,'IT'),
(10,'rahul',50000,'marketing')]

emp_df = spark.createDataFrame(data = employee_data, schema=['id','name','salary', 'department'])
display(emp_df)

id,name,salary,department
1,manish,50000,IT
2,vikash,60000,sales
3,raushan,70000,marketing
4,mukesh,80000,IT
5,pritam,90000,sales
6,nikita,45000,marketing
7,ragini,55000,marketing
8,rakesh,100000,IT
9,aditya,65000,IT
10,rahul,50000,marketing

In [0]:
#AGGREGATE FUNCIONS {COUNT, SUM, MIN, MAX}
#FIND NUMBER OF EMPLOYEE
display(emp_df.select(count('id').alias('number_of_employee')))
#FIND TOTAL SALARY, MIN SALARY, MAX SALARY, AVG SALARY
display(emp_df.select(sum('salary').alias('total_salary'), min('salary').alias('minimum_salary'), max('salary').alias('maximum_salary'), avg('salary').alias('avg_salary')))

number_of_employee
10

total_salary,minimum_salary,maximum_salary,avg_salary
665000,45000,100000,66500.0

In [0]:
#GROUP BY
#GIVE DEPARMENT WISE TOTAL SALARY
display(emp_df.groupBy('department').agg(sum('salary').alias('sum_of_salary')))
#GIVE NUMBER OF EMPLOYEES IN EACH DEPARTMENT
display(emp_df.groupBy('department').agg(count('id').alias('number_of_employee')))

department,sum_of_salary
IT,295000
sales,150000
marketing,220000

department,number_of_employee
IT,4
sales,2
marketing,4

In [0]:
cntry_wise_data = [(1,'manish',50000,'IT','india'),
(2,'vikash',60000,'sales','us'),
(3,'raushan',70000,'marketing','india'),
(4,'mukesh',80000,'IT','us'),
(5,'pritam',90000,'sales','india'),
(6,'nikita',45000,'marketing','us'),
(7,'ragini',55000,'marketing','india'),
(8,'rakesh',100000,'IT','us'),
(9,'aditya',65000,'IT','india'),
(10,'rahul',50000,'marketing','us')]
new_emp_df = spark.createDataFrame(data=cntry_wise_data, schema=['id','name','salary', 'dept','country'])
display(new_emp_df)

id,name,salary,dept,country
1,manish,50000,IT,india
2,vikash,60000,sales,us
3,raushan,70000,marketing,india
4,mukesh,80000,IT,us
5,pritam,90000,sales,india
6,nikita,45000,marketing,us
7,ragini,55000,marketing,india
8,rakesh,100000,IT,us
9,aditya,65000,IT,india
10,rahul,50000,marketing,us

In [0]:
#MULTIPLE COLUMNS IN GROUP BY
display(new_emp_df.groupBy('dept','country').agg(sum('salary').alias('total_salary')))

dept,country,total_salary
IT,india,115000
sales,us,60000
marketing,india,125000
sales,india,90000
IT,us,180000
marketing,us,95000

In [0]:
#COUNTRY WISE EMPLOYEE COUNT IN EACH DEPT AND SUM OF THE SALARY
t_df = new_emp_df.groupBy('country','dept').agg(count('id').alias('total_employee'),sum('salary').alias('sum_of_salary'))
display(t_df)

country,dept,total_employee,sum_of_salary
india,IT,2,115000
us,sales,1,60000
india,marketing,2,125000
india,sales,1,90000
us,IT,2,180000
us,marketing,2,95000