In [0]:
my_data = [(1,1),
(2,2),
(3,1),
(4,2),
(5,1),
(6,2),
(7,2)]

In [0]:
my_schema = ['id', 'num']

In [0]:
my_df = spark.createDataFrame(data = my_data, schema = my_schema)

In [0]:
my_df.show()

+---+---+
| id|num|
+---+---+
|  1|  1|
|  2|  2|
|  3|  1|
|  4|  2|
|  5|  1|
|  6|  2|
|  7|  2|
+---+---+

In [0]:
emp_df = [(1,'Manish',26,75000,'bihar','nominee1'),
(2,'Nikita',23,100000,'uttarpradesh','nominee2'),
(3,'Pritam',22,150000,'Bangalore','India'),
(4,'Prantosh',17,'200000','Kolkata','India'),
(5,'Vikash',31,300000,'null','nominee5')]

In [0]:
emp_schema = ['id','name','age','salary','address','nominee']

In [0]:
employee_df = spark.createDataFrame(data = emp_df, schema = emp_schema)

In [0]:
display(employee_df)

id,name,age,salary,address,nominee
1,Manish,26,75000,bihar,nominee1
2,Nikita,23,100000,uttarpradesh,nominee2
3,Pritam,22,150000,Bangalore,India
4,Prantosh,17,200000,Kolkata,India
5,Vikash,31,300000,null,nominee5

In [0]:
employee_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: string (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [0]:
employee_df.columns

Out[19]: ['id', 'name', 'age', 'salary', 'address', 'nominee']

In [0]:
#METHOD 1
display(employee_df.select("name","salary"))

name,salary
Manish,75000
Nikita,100000
Pritam,150000
Prantosh,200000
Vikash,300000

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *


display(employee_df.select(col("name"),col("salary")))

name,salary
Manish,75000
Nikita,100000
Pritam,150000
Prantosh,200000
Vikash,300000

In [0]:
display(employee_df.select(col("id")+5))

(id + 5)
6
7
8
9
10

In [0]:
display(employee_df.select("name", col("salary"), employee_df["address"], employee_df.nominee))

name,salary,address,nominee
Manish,75000,bihar,nominee1
Nikita,100000,uttarpradesh,nominee2
Pritam,150000,Bangalore,India
Prantosh,200000,Kolkata,India
Vikash,300000,null,nominee5

###EXPRESSION

In [0]:
display(employee_df.select(expr("id+5")))

(id + 5)
6
7
8
9
10

In [0]:
display(employee_df.select(expr("id as employee_id"), expr("name as employee_name"), expr("concat(name,address) as name_add")))

employee_id,employee_name,name_add
1,Manish,Manishbihar
2,Nikita,Nikitauttarpradesh
3,Pritam,PritamBangalore
4,Prantosh,PrantoshKolkata
5,Vikash,Vikashnull