In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]
emp_schema = ['id','name','age','salary','country','dept']
emp_df = spark.createDataFrame(data = emp_data, schema = emp_schema)

In [0]:
# CONDITION IS TO CHECK ADULTS IN THIS DATA 
# HERE WE CAN USE when(condition1, 'outputvalue1').when(condition2, 'outputvalue2').otherwise('outputvalue3')
display(emp_df.withColumn("is_adult", when(col('age')<18, 'No').when(col("age")>18, "Yes").otherwise("NoValue")))

id,name,age,salary,country,dept,is_adult
1,manish,26,20000,india,IT,Yes
2,rahul,null,40000,germany,engineering,NoValue
3,pawan,12,60000,india,sales,No
4,roshini,44,null,uk,engineering,Yes
5,raushan,35,70000,india,sales,Yes
6,null,29,200000,uk,IT,Yes
7,adam,37,65000,us,IT,Yes
8,chris,16,40000,us,sales,No
null,null,null,null,null,null,NoValue
7,adam,37,65000,us,IT,Yes

In [0]:
#NOW THE SCENARIO IS THAT WE HAVE TO FIRST HANDLE THE NULL AGES AND THEN CREATE IS_ADULT COLUMN
display(emp_df.withColumn("age", when(col('age').isNull(), lit(19)).otherwise(col('age')))\
               .withColumn("is_adult", when(col('age')>18, 'Yes').otherwise('No')))

id,name,age,salary,country,dept,is_adult
1,manish,26,20000,india,IT,Yes
2,rahul,19,40000,germany,engineering,Yes
3,pawan,12,60000,india,sales,No
4,roshini,44,null,uk,engineering,Yes
5,raushan,35,70000,india,sales,Yes
6,null,29,200000,uk,IT,Yes
7,adam,37,65000,us,IT,Yes
8,chris,16,40000,us,sales,No
null,null,19,null,null,null,Yes
7,adam,37,65000,us,IT,Yes

In [0]:
#NOW SCENARIO IS TO CREATE A COLUMN FOR AGE GROUP OF PEOPLE 

display(emp_df.withColumn("age", when(col('age').isNull(), lit(19)).otherwise(col('age')))\
      .withColumn("age_group", when((col('age')>0) & (col('age')<18), "Minor").when((col('age')>= 18) & (col('age')<30), "Mid").otherwise("Buddhha")))

id,name,age,salary,country,dept,age_group
1,manish,26,20000,india,IT,Mid
2,rahul,19,40000,germany,engineering,Mid
3,pawan,12,60000,india,sales,Minor
4,roshini,44,null,uk,engineering,Buddhha
5,raushan,35,70000,india,sales,Buddhha
6,null,29,200000,uk,IT,Mid
7,adam,37,65000,us,IT,Buddhha
8,chris,16,40000,us,sales,Minor
null,null,19,null,null,null,Mid
7,adam,37,65000,us,IT,Buddhha